body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0 20px 30px 0;
    line-height: 1.4;
}

h1 {
    color: black;
<<<<<<< HEAD
    font-weight: 700;
=======
>>>>>>> f5ff19c2e7533dfbe2305925920da51053367ce2
}

.flex-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 400px;
    justify-content: center;
    transition: 2s all ease;
}

.flex-item{
    background: cyan;
    border: 1pt solid black;
    width: 10px;
    transition: 0.1s all ease;
}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

#input{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.btnn {
<<<<<<< HEAD
    border: none;
    background-color: #bdc3c7;
=======
    background-color: rgb(189, 181, 181);
>>>>>>> f5ff19c2e7533dfbe2305925920da51053367ce2
    color: rgb(4, 0, 255);
    font-weight: bold;
}

.col {
    color: black;
    font-weight: bold;
<<<<<<< HEAD
}
=======
}
>>>>>>> f5ff19c2e7533dfbe2305925920da51053367ce2
